/* Slider container */
.slider {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    overflow: hidden;
  }
  
  /* Slide image */
  .slide {
    position: relative;
  }
  
  .sliderImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  }
  
  .sliderImage:hover {
    transform: scale(1.2); /* Zoom in on hover */
  }
  
  /* Navigation buttons */
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Dots for navigation */
  .dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    margin: 0 5px;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .activeDot {
    background-color: #0070f3;
  }
  
  .dot:hover {
    background-color: #0070f3;
  }
  